<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INLMeta</key>
	<dict>
		<key>config</key>
		<string>https://dl.dropboxusercontent.com/s/ie24kpkzy7zw6rz/AnotherConfig.plist</string>
		<key>version</key>
		<string>https://dl.dropboxusercontent.com/s/ejps29vpr0ywufw/version.txt</string>
	</dict>
	<key>MagicString</key>
	<string>Works like magic</string>
	<key>MagicArray</key>
	<array>
		<string>One</string>
		<string>More</string>
		<string>Thing</string>
	</array>
	<key>MagicNumber</key>
	<integer>42</integer>
</dict>
</plist>
